.container {
    display: flex;
    flex-wrap: nowrap | wrap | wrap-reverse;
}
#clear{
    margin: 0 auto;
    display: block;
}
.box {
    overflow: hidden;
    border-radius: 30px;
    box-shadow: 0px 1px 12px rgba(0, 0, 0, 0.5);
    margin: 10px;
}