.mainframe {
    /* center game field */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    /* flex child container to achieve 3x3 field */
    display: flex;
    flex-wrap: wrap;
    width: 120px;
    height: 120px;
    margin:0 auto;
}
.field{
    box-sizing: border-box;
    border: 1px solid #000000;
    width: 40px;
    height: 40px;
}